<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laboratory.modules.base.certificateManage.service.mapper.BasePersonCertificMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.id, a.certific_name, a.certific_no, a.certific_level, a.certific_project, a.certific_time, a.certific_dept, a.validity_time, a.attach, a.remark, a.create_by, a.create_time, a.update_by, a.update_time, a.del_status, a.user_id, a.dept_id
  </sql>
  -->
</mapper>
